// Cores
$cor-primaria: #faa301;
$cor-primaria-transparente: #faa3017e;
$cor-primaria-hover: #f8a300;
$cor-transparente-contato: #f8a100d0;
$cor-clara: #fff;
$cor-escura: #000;
$cor-sobre: black;
$cor-servicos: rgb(31, 30, 30);
$cor-contato: #ebebeb;

// Tipografia
$fonte-padrao: Arial, sans-serif;

// Espaçamentos
$espacamento-v: 5vh;
$espacamento-h: 2vw;
$raio-borda: 10px;
$sombra: 0 0 10px rgba(0, 0, 0, 0.5);
